@font-face {
  font-family: inGame;
  src: url("./inGameFont.otf");
  font-weight: normal;
}

.fontHolder {
  font-family: inGame;
  position: absolute;
  visibility: hidden;
}

canvas {
  margin: auto;
  display: block;
  width: 800px;
  height: 600px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 0px;
}

body {
  background-color: rgb(171, 211, 226);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.footer {
  float: right;
  margin-right: 5px;
  margin-top: 5px;
}


.logo {
  float: left;
  padding: 0;
  margin-right: 2.5px;
  width: 50px;
  height: 50px;
}
