@font-face {
  font-family: inGame;
  src: url("./gameFont.otf");
}

body {
  background-color: #abd3e2;
  font-family: inGame;
}

canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  margin: auto;
  padding: 0;
  width: 800px;
  height: 600px;
}

.logo-container {
  position: absolute;
  right: 25px;
  bottom: 25px;
}

.logo {
  float: left;
  margin-right: 2.5px;
  width: 50px;
  height: 50px;
  padding: 0;
}
