@font-face {
  font-family: inGame;
  src: url("./gameFont.otf");
}

* {
  margin: 0;
}

html {
  background-color: #abd3e2;
  font-family: inGame;
  overflow: hidden;
}

body {
  width: 800px;
  height: 600px;
}

canvas {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  margin: auto;
}

.font-placeholder {
  position: absolute;
  visibility: hidden;
}
